# yii console command
#/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store
.empty

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# sass cache files
*.sass-cache

# mac deployment helpers
switch
index

# yii-standard
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/


# custom folders
*nogit

#js bin files
frontend/web/js/bin

#css bin files
frontend/web/css/bin
